/* variables */
$bkg: #f7f8fc;
$l-grad-hex-100: #efeff6;
$l-grad-rgba-100: rgba(179, 202, 226, 0.28);

$d-grad-100: dark;

body{
   //background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
    background: #fff;
    min-height: 100vh;
}
.wrapper{
  margin: 60px auto;
}

.neumorphism {
  background-color: #34bcaa;
  //dark
  box-shadow: 9px 9px 16px #34bcaa -9px -9px 16px #debf12;
  //light
  //box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
}

.card-w{
  
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    border-radius: 30px;
    position: relative;
  background: transparent;
  border-radius: 20px;
  border: 1px solid #34bcaa;
    box-shadow: 9px 9px 16px #34bcaa,
      -9px -9px 16px #debf12,
       inset 3px 3px 7px #34bcaa, 
      inset -3px -3px 7px #FFFFFF;
    background: linear-gradient(318.32deg, #debf12 0%, #34bcaa 55%, #debf12 100%);

    .card__icon{
      
      
    }
    .card__text{
      text-align: center;
      color: #fff;
      
    }
  }
}



/* inset */
.card.inset {
    box-shadow: inset 3px 3px 7px #34bcaa, inset -3px -3px 7px #debf12;
    i {
        text-shadow: 1px 1px 1px #34bcaa, 0 0 0 #000, 1px 1px 1px #debf12;
    }
}

.card.active {
       box-shadow: 9px 9px 16px #34bcaa,
      -9px -9px 16px #debf12,
       inset 3px 3px 7px #34bcaa, 
      inset -3px -3px 7px #FFFFFF;
    background: linear-gradient(318.32deg, #debf12 0%, #34bcaa 55%, #debf12 100%);
}


ul
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    background: #fff;
    
}
ul li
{
    list-style: none;
}
ul li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px #34bcaa;
    background: linear-gradient(0deg, #34bcaa, #debf12);
    transition: .5s;
}
ul li a:hover
{
    box-shadow: 0 2px 5px #debf12;
}
ul li a .fab
{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #debf12, #34bcaa);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #fff;
    transition: .5s;
}
ul li:nth-child(1) a:hover .fab
{
    color: #000;
}
ul li:nth-child(2) a:hover .fab
{
    color: #000;
}
ul li:nth-child(3) a:hover .fab
{
    color: #000;
}
ul li:nth-child(4) a:hover .fab
{
    color: #000;
}
ul li:nth-child(5) a:hover .fab
{
    color: #000;
}
