$main-font: 'Roboto', sans-serif

*
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;

.nav
  width: 100vw;
  height: 100px;
  background-color: #efeeee;
  box-shadow: 10px 10px 12px 0 rgba(0,0,0,.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  list-style-type: none;
  
  li.logo
    margin-right: auto;
    font-family: $main-font;
    font-size: 1.5rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
    
  
  li:not(.logo)
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius: 10px;
    font-family: $main-font;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
    
    &:hover
      transform: scale(1.05);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
    
    &:focus
      outline: none;
      transform: scale(0.95);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
    
    &:hover, &:focus
      color: orangered;

body
{
    margin: 0;
    padding: 0;
    background: #ff0000;
}
ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul li
{
    list-style: none;
}
ul li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #34bcaa, #debf12);
    transition: .5s;
}
ul li a:hover
{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
ul li a .fab
{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #debf12, #34bcaa);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #000;
    transition: .5s;
}
ul li:nth-child(1) a:hover .fab
{
    color: #3b5998;
}
ul li:nth-child(2) a:hover .fab
{
    color: #00aced;
}
ul li:nth-child(3) a:hover .fab
{
    color: #dd4b39;
}
ul li:nth-child(4) a:hover .fab
{
    color: #007bb6;
}
ul li:nth-child(5) a:hover .fab
{
    color: #e1306c;
}

ul li a .fa
{ 
    width: 100%; 
    height: 100%; 
    display: block; 
    background: linear-gradient(0deg, #34bcaa, #debf12); 
    border-radius: 50%; 
    line-height: calc(60px - 12px); 
    font-size: 24px; 
    color: #000; 
    transition: .5s;
}

ul li:nth-child(1) a:hover .fa 
{ 
color: #3b5998;
}
ul li:nth-child(2) a:hover .fa
{ 
color: #00aced;
}
ul li:nth-child(3) a:hover .fa
{ 
color: #dd4b39;
}
ul li:nth-child(4) a:hover .fa
{ 
color: #007bb6;
}
ul li:nth-child(5) a:hover .fa
{ 
color: #e1306c;
}
